= render "users/shared/header"
.all-body
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .form-field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password"

    .error-message
      - if resource.errors.any?
        - resource.errors.full_messages.each do |message|
          %li= message  
    .actions
      = f.submit "ログイン",class: "actions__submit", autofocus: true
  .devise-function
    = render "users/shared/links"  
= render "users/shared/footer"
