.header
  %img(src="https://biz-journal.jp/images/post_19772_1.jpg")
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  
  .actions
    = f.submit "Log in",class: "actions__submit", autofocus: true
= render "users/shared/links"
