.footer-contents
  .footer-contents__content
    .footer-contents__content__head
      FURIMAについて
    .content-lists
      .list
        = link_to "#" do
          会社概要（運営会社）
      .list
        = link_to "#" do
          プライバシーポリシー
      .list
        = link_to "#" do
          FURIMA利用規約
      .list
        = link_to "#" do
          ポイントに関する特約
  .footer-contents__content
    .footer-contents__content__head
      FURIMAを見る
    .content-lists
      .list
        = link_to "#" do
          カテゴリー一覧
      .list
        = link_to "#" do
          ブランド一覧
  .footer-contents__content
    .footer-contents__content__head
      ヘルプ＆ガイド
    .content-lists
      .list
        = link_to "#" do
          FURIMAガイド
      .list
        = link_to "#" do
          FURIMAロゴ利用ガイドライン
      .list
        = link_to "#" do
          お知らせ
.footer-logo
  = link_to "#" do
    = image_tag "/logo-white.png"
%p
  © FURIMA