.my-main
  .my-main__user
    = link_to "#", class:"user-link" do
      .my-main__user__icon
        = image_tag "user.png", class: "user-icon", size: "50x50"
      .my-main__user__name
        =current_user.nickname
      .my-main__user__items
        .my-main__user__items__rep
          評価
          %span
          0
        .my-main__user__items__num
          出品数
          %span
          -# = current_user.items.count
  .my-main__user__switch
    %p.switch-nav
      お知らせ
    %p.switch-nav
      やることリスト
  .my-main__user__menu
  %ul.lists-items
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        一覧を見る
  .my-main__items
    .my-main__items__nav
      購入した商品
  .my-main__items__switch
    %p.switch-nav
      取引中
    %p.switch-nav
      過去の取引
  .my-main__items__menu
  %ul.lists-items
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        事務局からの個別メッセージ
    %li
      = link_to "#" do
        一覧を見る