= render "shared/header"
.my-contents
  = render "my-side"
  .my-logout
    .my-logout__btn
      = link_to "ログアウト", method: 'delete', class: "logout-btn"
%aside.banner
  = render "shared/banner"
.footer
  = render "shared/footer"

= render "shared/sell-btn"