= render "users/shared/header-logo"

.purchase
  .purchase__title
    %h2 購入内容の確認

  .purchase__item
    .purchase__item__box
      .purchase__item__box__image
        =@item.image.picture
      .purchase__item__box__description
        .item_title
          = @item.name
        .item__price
          = @item.price

  %section.purchase__data
    .purchase__data__price
      .purchase__data__price__title
        支払い金額
      .purchase__data__price__amount
        = 13500

    .purchase__data__payment
      .purchase__data__payment__title
        .title__text
          支払い方法
        .card__change
          = link_to "削除・再登録する", "#"
      .purchase__data__payment__list
        .card__title
          クレジットカード
        .card__number
          = "**** **** **** " + @default_card_information.last4
        .card__limit
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        .card__type
          = @default_card_information.brand

    .purchase__data__shipping
      .purchase__data__shipping__title
        .title__text
          配送先
        .address__change
          = link_to "変更する", "#"
      .purchase__data__shipping__box
        .postcode
          = @address.map {|address| address.postal_code }
        .address
          = @address.map {|address| address.prefecture }
          = @address.map {|address| address.municipality }
          = @address.map {|address| address.number }
          = @address.map {|address| address.building }
        .buyer
          = current_user.lastname
          = current_user.firstname 様
    .purchase__submit
      .purchase__submit__btn
        = form_tag(action: :pay, method: :post) do
          %button 購入する

= render "users/shared/footer-logo"