= render "users/shared/header-logo"
.sell-main
  .sell-main-board
    .sell-main-board_#sub
      .form
        .formbox
        = form_for @item do |f|
          %hr.border
          %p.form-title
            商品
          .form-box
            .form-label
              %label 商品名
              %span.must-section 必須
            .form-textfield
              .form-textfield__input
                = f.text_field :name, placeholder: "40文字まで", type: "text", value: ""
          .form-box
            .form-label
              %label 商品の説明
              %span.must-section 必須
            .form-textfield
              .form-textfield__input
                = f.text_area :text, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", rows: "7"
              .form-textfield__count
                %span> 0/1000
          %hr.border
          %p.form-title
            商品の詳細
          .form-box
            .form-label
              %label カテゴリー
              %span.must-section 必須
            .form-select-category
              .form-select-category__option
                = f.collection_select :category_id, @category_parent, :id, :name, {prompt: "選択してください"}, class: 'form-select__option-box', id: 'parent_category'
          .form-box
            .form-label
              %label ブランド
              %span.free-secton 任意
            .form-textfield
              = f.fields_for :brand do |brand|
                .form-textfield__input
                = brand.text_field :name, placeholder: "例）シャネル", value: "", class: "input-default", type: "text"
          .form-box
            .form-label
              %label 商品の状態
              %span.must-section 必須
            .form-select
              .form-select__option
                = f.collection_select :status_id, @status_array, :id, :condition, {prompt: "選択してください"}, class: 'form-select__option-box', id: 'status'
          %hr.border
          %p.form-title
            配送について
          .form-box
            .form-label
              %label 配送料の負担
              %span.must-section 必須
            .form-check
              .form-check__option
                送料込み
              = check_box :check_box,  checked: false, class: "check-box"
          .form-box
            .form-label
              %label 発送までの日数
              %span.must-section 必須
            .form-check
              .form-check__option
                2〜3日
              = check_box :check_box,  checked: false, class: "check-box"
          %hr.border
          %p.form-title
            価格（¥
            / 
            300
            / 
            〜
            / 
            9,999,999
            / 
            ）
          .price-box
            .price-label
              %label 販売価格
              %span.must-section 必須
            .price-textfield
              .pre
                ¥
              .price-textfield__input
                = f.text_field :price, placeholder: "0", type: "number", value: "", id: "price-calc"
          .price-box2
            .price-label
              %label 販売手数料（10%）
            .right_bar
          .price-box2
            .price-label
              %label 販売利益
              -# 計算結果格納用フォーム
            .right_bar_2
          %hr.border
          .buttons
            = f.submit "出品する",  class: "sell-button"
            = link_to "戻る", "root_path", class:"clear-button"
          %h1.note-text
            禁止されている
            = link_to "行為", "#"
            および
            = link_to "出品物", "#"
            を必ずご確認ください。
            = link_to "偽ブランド品", "#"
            や
            = link_to "盗品物", "#"
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            = link_to "加盟店規約", "#"
            に同意したことになります。

= render "users/shared/footer-logo"