= render "users/shared/header-logo"

.purchase
  .purchase__title
    %h2 購入内容の確認

  .purchase__item
    .purchase__item__box
      .purchase__item__box__image
        = image_tag "/animal1.png"
      .purchase__item__box__description
        .item_title
          商品タイトルが長くなった場合を試します
        .item__price
          金額（税込）送料込

  %section.purchase__data
    .purchase__data__price
      .purchase__data__price__title
        支払い金額
      .purchase__data__price__amount
        ¥10,000

    .purchase__data__payment
      .purchase__data__payment__title
        .title__text
          支払い方法
        .card__change
          = link_to "変更する", "#"
        -# カード登録があればカード一覧、無ければ下記の一文とリンク表示、の分岐予定
        .card__regist
          = link_to "＋登録してください", "#"
      .purchase__data__payment__list
        -# PAY.JPの埋め込みの可能性があるため、仮置きとなります
        .card__title
          クレジットカード
        .card__number
          ****************
        .card__limit
          有効期限 07/20
        .card__type
          VISA

    .purchase__data__shipping
      .purchase__data__shipping__title
        .title__text
          配送先
        .address__change
          = link_to "変更する", "#"
      .purchase__data__shipping__box
        .postcode
          〒123-4567
        .address
          東京都 渋谷区 道玄坂２丁目２３−１２ フォンティスビル７F
        .buyer
          購入者 氏名
    .purchase__submit
      -# 支払い方法の登録状況によって、ボタンの色が変わる予定
      -# .purchase__submit__btn
      -#   購入する
      .purchase__submit__none
        購入する

= render "users/shared/footer-logo"