= render "shared/header"
.my-contents
  = render "mypages/my-side"
  .add-card
    .add-card__head
      支払い方法
    .add-card__contents
      .add-card__contents__form
        = form_with(url: "#", local: true, method: :post, class: "add-card-form") do |form|
          .card-inform
            .card-logo
              = image_tag "viza.png"
            .card-number
              ************2020
            .card-dead
              01/20
            = form.submit "削除する", class: "delete-btn"
      .add-card__contents__way
        = link_to "#", class: "pay-way" do
          支払い方法について
%aside.banner
  = render "shared/banner"
.footer
  = render "shared/footer"

= render "shared/sell-btn"